<% admin_breadcrumb(t('spree.settings') ) %>
<% admin_breadcrumb(t('spree.admin.tab.carriers')) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_configurations_sidebar_menu">
      <%= settings_tab_item Spree.t(:hong_kong_post, scope: :admin), admin_carrier_apis_path %>
    </ul>
  </nav>
<% end %>

<%= form_tag admin_carrier_apis_path, method: :put  do |form| %>
  <fieldset class="general no-border-top">
    <div class="row">
      <div class="col-5">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= Spree.t("admin.carriers.api") %></legend>
          <% @preferences_e_express.each do |name| %>
            <div>
              <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                name:  name.to_s,
                value: @config[name],
                label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
            </div>
          <% end %>
        </fieldset>
      </div>

      <div class="col-5">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= Spree.t("admin.carriers.sender_info") %></legend>
          <% @sender_details.each do |name| %>
            <div>
              <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                name:  name.to_s,
                value: @config[name],
                label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
            </div>
          <% end %>
        </fieldset>
      </div>

    </div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:update) %>
      <%= button_link_to Spree.t(:cancel), admin_carrier_apis_path %>
    </div>
  </fieldset>
<% end %>
