<% if path_matched(request.path, @order) %>
  <fieldset class="no-border-bottom">
    <legend align="center"><%= t('spree.shipping_address') %></legend>
    <%= form_for @order.ship_address, url: spree.create_shipping_record_admin_carrier_apis_path(@order), method: :post do |f| %>
      <%= render partial: 'spree/admin/shared/address_form', locals: {f: f, type: 'shipping'} %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.create'), class: 'btn btn-primary' %>
        <%= link_to t('spree.actions.cancel'), "javascript:void(0)", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>
